.table-scroll {
	position:relative;
	max-width:100%;
	margin:auto;
	overflow:hidden;
	margin-left: 10px;
	margin-right: 10px;
}

::-webkit-scrollbar-thumb {
  background:  #c1d5f0; 
}

::-webkit-scrollbar-thumb:hover {
  background:  #c1d5f0; 
}

.table-wrap {
	width: auto;
	overflow:auto;
}


.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
	
}
.table-scroll th {
	padding:5px 10px;
	border:1px solid #ec5b33;
	background:  #ec5b33;
	color: white;
	white-space:nowrap;
	vertical-align:top;
	text-align: center;

}

.table-scroll td {
	padding:5px 10px;
	border:1px solid #12294a;
	background:transparent;
	white-space:nowrap;
	vertical-align:top;
}

.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}

.btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background:white;
z-index: 1;
  visibility: hidden;
  opacity: 96%;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color:#ec5b33;
}

.dropdown a:hover {
  background-color: var(--color);
  color:#12294a;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}
  