* {
  box-sizing: border-box;
}

h5 {
  font-size: x-large;
  margin-top: 20px;
  color: #12294a;
}

p {
  font-size: 15px;
}

/* .card-body img {

} */

.editbtn {
  height: 30px;
  width: 30px;
  text-align: right;
  background-color: #eaf1fa;
  float: right;
  border: none;
}


.card {
  text-align: center;
  background-color:  #f2f2f2;
  width: 50vh;
  height: auto;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


/* Float four columns side by side */
.column {
  float: center;

}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: center;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  position: relative;
}