* {
  box-sizing: border-box;
}

h3{
  margin-top: 25px;
  margin-left: 10px;
}

p{
  margin-top: 15px;
}

#image-display {
  width: 200px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  overflow: hidden;
}


.editbtn {
    height: 30px;
    width: 30px;
    text-align: right;
    background-color:#eaf1fa ;
    border: none;
    float: right;
  }

.editbtn:hover {
    color: #ec5b33;
    
  }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.card {
  text-align: center;
  background-color:  #eaf1fa;

}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #eaf1fa;
}