* {
  box-sizing: border-box;
}
.card {
  flex: 1 0 0;  
  height: 460px;
  min-width: auto;
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.card-body {
  min-height: 250px;
}

h5 {
  font-size: x-large;
  margin-top: 20px;
  color: #12294a;
}

p {
  font-size: 15px;
  margin-bottom: 5px;

}

input{
  margin-bottom: 10px;
}


.editbtn {
  height: 30px;
  width: 30px;
  text-align: right;
  background-color: #eaf1fa;
  float: right;
  border: none;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


/* Float four columns side by side */



/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}