#btnappsubmit{
  background-color: #ec5b33;
  color: white;
}

#btnappsubmit:hover{
  background-color: #f04314;
  color: white;
}

#btnclose{
  background-color:#0c203d;
  color: white;
}

#btnclose:hover{
  background-color: #0c203d;
  color: white;
}

.card {
  border: 1px solid #f6b4a2;
  border-radius: 20px;
}

#searchInput[type=text] {
  border: 1px solid #f07c5c;
  border-radius: 50px;
  width: 300px;
  height: 40px;
  font-family: Georgia;
  font-size: medium;
}

.button {
background-color: transparent;
font-size: 18px;
margin-left:-50px;
border:none;
color: #12294a;
transition: all .2s;
z-index: 10;
}

.button:hover {
transform: scale(1.5);
cursor: pointer;
color: #ec5b33;
}

.button:focus {
outline:none;
color:#12294a;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  
  @media (max-width: 470px) {
    #searchInput  {
      display: block;
      position: relative;
      margin-top: 10px;
    }
  } 
  @media (max-width: 470px) {
    #searchIcon {
      display: block;
    position: relative;
    margin-top: 10px;
    }
  } 
