/* <style>
.table-scroll {
	position:relative;
	max-width:100%;
	margin:auto;
	overflow:hidden;
	border:1px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #ec5b33; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ec5b33; 
}

.table-wrap {
	width:100%;
	overflow:auto;
  
}

.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	background:transparent;
	white-space:nowrap;
	vertical-align:top;
}
.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}
</style>
 */
