
.sidenav {
  width: 250px;
  background-color: #FFF4F4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  width: 0;
  
}


.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ec5b33;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #12294a;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  transition: 0.3s;
}
.sidenav-footer {
position: absolute;
bottom: 0;
width: 100%;
padding: 10px;
background-color: #FFF4F4;;
}
.sidenav-footer a {
color: #ec5b33;
display: block;
padding: 8px 16px;
text-decoration: none;
}
.sidenav-footer a:hover {
color: white;
}
.navbar {
  background-color: transparent;

}

.navbar-toggler-icon {
  color: #12294a;
}

.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #12294a;
  padding: 8px 16px;
}
.dropdown-content {
  display: none;
  
}

.dropdown.active .dropdown-content {
  display: block;
}


