body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#page-container {
  flex: 1;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}
.sidenav {
  width: 250px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  overflow-y: auto;
}



.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ec5b33;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #12294a;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  
}
.sidenav-footer {
position: absolute;
bottom: 0;
width: 100%;
padding: 10px;
background-color: white;
}
.sidenav-footer a {
color: #ec5b33;
display: block;
padding: 8px 16px;
text-decoration: none;
}
.sidenav-footer a:hover {
color: #12294a;
}
.navbar {
  background-color: transparent;
  position: fixed;
  z-index: 1;
}

.navbar-toggler-icon {
  color: #12294a;
}

.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #12294a;
  padding: 8px 16px;
}

.breadcrumb{
 
 display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #12294a;
}
.breadcrumb a:hover{
  color: #ec5b33;
}
hr.solid {
  border-top: 1px solid #ec5b33;
}

@media screen and (max-height: 450px) {
  #main{
    display: none;

  }
}




