body{
    background-color: white;
}
.rounded-pill{
    border-radius: 50px;
    padding-left: 1em;
    padding-right: 1em;
}
.shadow-sm{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
}
.noteCard{
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:  #fdece8;


}

#addTxt{
    width: 30%;
    height: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



@media (min-width:769px) and (max-width:1024px){
    .noteCard{
        width: 47%;
    }
}
@media (max-width:768px){
    .noteCard{
        width: 100%;
    }
}